@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, -apple-system, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #191919;
  color: #e5e5e5;
}